<div class="container-fluid row mt-5 justify-content-center">

    <div class="col-md-3 mb-5 ms-4" id="user_profile">
        <div class="card my_profile_shadow" style="border-radius: 15px;">
            <div class="card-body text-center placeholder-glow">
                <div class="mt-3 mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                        class="rounded-circle img-fluid" style="width: 100px;" />
                </div>
                <h4 class="mb-2 placeholder col-6"></h4>
            </div>
            <hr>
            <div class="card-body profile">
                <h5>Personals</h5>
                <div class="fs-5 mb-3 placeholder-glow">
                    <i class="bi bi-envelope-fill  me-2"></i>
                    <a style="color:#b8b6b6" class="placeholder col-8"></a><br>
                    <i class="bi bi-telephone-fill  me-2"></i>
                    <a style="color:#b8b6b6" class="placeholder col-8 mt-1"></a>
                </div>

            </div>
            <hr>
            <!-- <div class="card-body">

                </div> -->

            <div class="card-body profile placeholder-glow">
                <h5>Status</h5>
                <div class="fs-5 mb-3">
                    <i class="bi bi-wallet-fill me-2"></i>
                    <a style="color:#b8b6b6" class="placeholder">9999999999999</a><br>
                    <i class="bi bi-currency-rupee  me-2"></i>
                    <a style="color:#b8b6b6" class="placeholder">9999999999999</a><br>
                    <i class="bi bi-bank2  me-2"></i>
                    <a style="color:#b8b6b6" class="placeholder">9999999999999</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5 mb-5 ms-4">
        <div class="card my_recent_shadow text-center" style="border-radius: 15px; font-family: poppins;"><br>
            <h3>Recents</h3>

            <div class="for_fixing_recent">

                <div class="card mx-2 my-3 recent_shadow">
                    <div class="row text-center justify-content-center mx-2 placeholder-glow">
                        <div class="text-center placeholder col-10">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                    <div class="row justify-content-center placeholder-glow">
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-4 mx-1 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="card mx-2 my-3 recent_shadow">
                    <div class="row text-center justify-content-center mx-2 placeholder-glow">
                        <div class="text-center placeholder col-10">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                    <div class="row justify-content-center placeholder-glow">
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-4 mx-1 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="card mx-2 my-3 recent_shadow">
                    <div class="row text-center justify-content-center mx-2 placeholder-glow">
                        <div class="text-center placeholder col-10">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                    <div class="row justify-content-center placeholder-glow">
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-4 mx-1 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="card mx-2 my-3 recent_shadow">
                    <div class="row text-center justify-content-center mx-2 placeholder-glow">
                        <div class="text-center placeholder col-10">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                    <div class="row justify-content-center placeholder-glow">
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-4 mx-1 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="card mx-2 my-3 recent_shadow">
                    <div class="row text-center justify-content-center mx-2 placeholder-glow">
                        <div class="text-center placeholder col-10">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                    <div class="row justify-content-center placeholder-glow">
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-4 mx-1 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                </div>

                <div class="card mx-2 my-3 recent_shadow">
                    <div class="row text-center justify-content-center mx-2 placeholder-glow">
                        <div class="text-center placeholder col-10">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                    <div class="row justify-content-center placeholder-glow">
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-4 mx-1 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                        <div class="col-3 placeholder mt-1">
                            <a><b></b></a>
                            <a></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 ms-4">
        <div class="card my_third text-center" style="border-radius: 15px; font-family: poppins;"><br>
            <h3>Add New Transaction</h3>
            <hr>
            <div class="container-fluid mt-4">
                <form>
                    <div class="input-group mb-4">
                        <span class="input-group-text">Description</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" readonly>
                    </div>
                    <div class="input-group mb-4">
                        <label for="exampleDataList" class="input-group-text">Catagory</label>
                        <input class="form-control" list="datalistOptions" placeholder="Select to Catagory..." readonly>
                        <datalist>
                            <option value="San Francisco">
                            <option value="New York">
                            <option value="Seattle">
                            <option value="Los Angeles">
                            <option value="Chicago">
                        </datalist>
                    </div>
                    <div class="input-group mb-4">
                        <label for="exampleDate" class="input-group-text">Date</label>
                        <input type="date" name="date" class="form-control" readonly>
                    </div>
                    <div class="input-group mb-4 justify-content-center">
                        <span class="input-group-text">Amount</span>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" name="type_of_tran"
                                aria-label="Radio button for following text input" readonly>
                            <span class="ms-2">Received</span>
                        </div>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" name="type_of_tran"
                                aria-label="Radio button for following text input" readonly>
                            <span class="ms-2">Paid</span>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text">₹</span>
                        <input type="number" class="form-control remove_up_down"
                            aria-label="Amount (to the nearest Ruppe)" readonly>
                        <span class="input-group-text">.00</span>
                    </div>
                    <hr>
                    <div class="input-group mb-3 justify-content-center placeholder-glow">
                        <button type="button" class="btn btn-primary disabled placeholder">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12 text-bg-secondary text-center" style="align-items: center;"><br>
        <h1>About Us Page</h1>
        <p>Our Team here to manage youe daily as well as your monthly expenses.</p>
        <p>We provide privacy to protect your personal data as well as your daily expense record</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-bg-warning text-center placeholder-glow" style="align-items: center;"><br>
        <b style="font-size: large;">Inquiry</b>
        <p>In Case,<br>If You have any query kindly,<br>just contact Us</p>
        <button class="btn btn-danger disabled placeholder">Contact Us</button>
    </div>
    <div class="col-md-4 text-bg-warning text-center" style="align-items: center;"><br>
        <b style="font-size: large;">Developers</b><br>
        <i class="bi bi-geo-alt-fill"></i>
        <a style="color: #6a6b69; cursor: not-allowed;">Ahmedabad, Gujarat</a><br>
        <i class="bi bi-envelope-fill"></i>
        <a style="color: #6a6b69; cursor: not-allowed;">mayurvadhadiya5@gmail.com</a><br>
        <i class="bi bi-telephone-fill"></i>
        <a style="color: #6a6b69; cursor: not-allowed;">+91 6354464807</a>
    </div>
    <div class="col-md-4 text-bg-warning text-center pb-4" style="align-items: center;"><br>
        <b style="font-size: large;">Stay Connected</b><br>
        <i class="bi bi-instagram"></i>
        <a class="footer">Instagram</a><br>
        <i class="bi bi-facebook"></i>
        <a class="footer">Facebook</a><br>
        <i class="bi bi-linkedin"></i>
        <a class="footer">linkedin</a><br>
        <i class="bi bi-twitter"></i>
        <a class="footer">twitter</a><br>
        <i class="bi bi-github"></i>
        <a class="footer">Github</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 py-4 text-bg-dark text-center" style="align-items: center;">
        <small>© 2023 | ALL Rights Reserved for Expense Tracker</small>
    </div>
</div>