<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forget Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .remove_up_down::-webkit-outer-spin-button,
        .remove_up_down::-webkit-inner-spin-button {
            display: none;
        }
    </style>
</head>

<body style="background: linear-gradient(0.2deg, rgb(51, 204, 255) 4.8%, rgb(51, 102, 255) 85.5%);">
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-7 col-xl-6">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="card-body-inner py-3">
                                <center>
                                    <h3>Verify your email to reset your password</h3>
                                </center>
                                <center>
                                    <emp id="f_instrn">Enter your email for OTP</emp>
                                </center>
                            </div>
                            <form id="email_verify_form">
                                <div class="input-group mb-3">
                                    <input id="f_email" type="email" class="form-control" placeholder="Enter email"
                                        aria-label="Enter email" aria-describedby="get_otp_btn" onkeyup="validate_Email()">
                                    <button class="btn btn-outline-primary" type="button" id="get_otp_btn"
                                        disabled>Get OTP</button>
                                </div>
                                <div class="input-group mb-3">
                                    <input id="f_otp" type="number" class="form-control remove_up_down"
                                        placeholder="Enter OTP" aria-label="Enter OTP" aria-describedby="verify_otp_btn"
                                        disabled>
                                    <button class="btn btn-outline-primary" type="button" id="verify_otp_btn"
                                        disabled>Verify</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/forget_password.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>